{% extends 'base.html' %}
{% block title %}{{ course.course_name }}{% endblock %}
{% load static %}
{% block body %}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-7">
				<div class="card card-chart">
					<div class="card-header card-header-primary">
						<h4 class="card-title">{{ course.course_name }}</h4>
						<p class="card-category">Course Details</p>
					</div>
					<div class="card-body">
						<div>
							<img class="card-img-bottom" src="{{ course.image.url }}" alt="Card image" style="width:100%">
						</div><br>
						<div class="row">
							<div class="col-md-6">
								<b>Category : </b>{{ course.category }}
							</div>
							<div class="col-md-6">
								<b>Duration : </b>{{ course.duration }} Months
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<b>Enrolled Students : </b>{{ course.no_of_students }}
							</div>
							<div class="col-md-6">
								<b>Max Students Allowed : </b>{{ course.max_no_of_students }} Months
							</div>
						</div><br>
						<div class="row">
							<div class="col-md-12">
								<b>Course Description</b>
								<p>{{ course.course_description }}</p>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<div class="stats">
					  		<a href="#" class="btn btn-primary">Create Classroom Session</a>
                  		</div>
					</div>
				</div>
			</div>

			<div class="col-lg-5 col-md-8">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Previous Classroom Sessions</h4>
                  <p class="card-category">Classrom Session Details</p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
					   <th>ID</th>
                      <th>Timestamp</th>
                      <th>Session name</th>
                      <th>Duration</th>
                    </thead>
                    <tbody>
					{% for session in classroom_session %}
                      <tr>
                        <td>{{ session.session_id }}</td>
                        <td>{{ session.timestamp }}</td>
                        <td>{{ session.session_name }}</td>
                        <td>{{ session.duration }}</td>
                      </tr>
					{% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}