	{% extends 'trainerBase.html' %}
	{% block title %}{{ course.course_name }}{% endblock %}
	{% load static %}
	{% block body %}

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card card-chart">
						<div class="card-header card-header-primary">
							<h4 class="card-title">{{ course.course_name }}</h4>
							<p class="card-category">Course Details</p>
						</div>
						<div class="card-body">
							<div>
								<img class="card-img-bottom" src="{{ course.image.url }}" alt="Card image" style="width:100%">
							</div><br>
							<div class="row">
								<div class="col-md-6">
									<b>Category : </b>{{ course.category }}
								</div>
								<div class="col-md-6">
									<b>Duration : </b>{{ course.duration }} Months
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<b>Enrolled Students : </b>{{ course.no_of_students }}
								</div>
								<div class="col-md-6">
									<b>Max Students Allowed : </b>{{ course.max_no_of_students }}
								</div>
							</div><br>
							<div class="row">
								<div class="col-md-12">
									<b>Course Description</b>
									<p>{{ course.course_description }}</p>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="row">
								<div class="col-md-4">
									<div class="stats">
										<button class="btn btn-primary" data-toggle="modal" data-target="#sessionModal">Create Classroom Session</button>
									</div>
								</div>
								<div class="col-md-4 offset-4">
									<div class="stats">
										<button class="btn btn-warning" data-toggle="modal" data-target="#contentModal">Share Content</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="sessionModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Create Classroom</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
								<form method="POST" action="{% url 'trainer:createSession' course.course_id %}">
								{% csrf_token %}
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">Session Name</label>
												<input type="text" name="name" class="form-control">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">Session Duration</label>
												<input type="text" name="duration" class="form-control">
											</div>
										</div>
									</div>

									<input type="submit" class="btn btn-primary pull-right" value="Start Session" formtarget="_blank"></input>
									<div class="clearfix"></div>
								</form>
							</div>
						</div>
					</div>
				</div>


				<div class="modal fade" id="contentModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Content Sharing</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
								<form method="POST" action="{% url 'trainer:shareContent' course.course_id %}" enctype="multipart/form-data">
								{% csrf_token %}
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">Content Name</label>
												<input type="text" name="name" class="form-control" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<label for="file">Upload Content</label>
											<input type="file" class="form-control" id="file" name="file" required>
										</div>
									</div>

									<input type="submit" class="btn btn-primary pull-right" value="Share Content"></input>
									<div class="clearfix"></div>
								</form>
							</div>
						</div>
					</div>
				</div>



				<div class="col-lg-6 col-md-8">
				  <div class="card">
					<div class="card-header card-header-warning">
					  <h4 class="card-title">Previous Classroom Sessions</h4>
					  <p class="card-category">Classrom Session Details</p>
					</div>
					<div class="card-body table-responsive">
					  <table class="table table-hover">
						<thead class="text-warning">
						   <th>ID</th>
						  <th>Timestamp</th>
						  <th>Session name</th>
						  <th>Duration</th>
						</thead>
						<tbody>
						{% for session in classroom_sessions %}
						  <tr>
							<td>{{ session.session_id }}</td>
							<td>{{ session.timestamp }}</td>
							<td>{{ session.session_name }}</td>
							<td>{{ session.duration }}</td>
						  </tr>
						{% endfor %}
						</tbody>
					  </table>
					</div>
				  </div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-primary">
							<h4 class="card-title">Enrolled Students</h4>
							<p class="card-category">Student Details</p>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<th>Username</th>
										<th>Name</th>
										<th>Email ID</th>
										<th>Mobile No</th>
										<th>City</th>
						  			</thead>
									<tbody>
									{% for student in enrolled_students %}
										<tr>
											<td>{{ student.username }}</td>
										  	<td>{{ student.first_name }} {{ student.last_name }}</td>
										  	<td>{{ student.email }}</td>
										  	<td>{{ student.mobile }}</td>
										  	<td class="text-primary">{{ student.city }}</td>
										</tr>
									{% endfor %}
						  			</tbody>
								</table>
					  		</div>
						</div>
				  	</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-success">
							<h4 class="card-title">Shared Content</h4>
							<p class="card-category">Content Details</p>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class="text-primary">
										<th>Date and Time</th>
										<th>Content Name</th>
										<th>Content File</th>
						  			</thead>
									<tbody>
									{% for content in contents %}
										<tr>
											<td>{{ content.timestamp }}</td>
											<td>{{ content.content_name }}</td>
										  	<td><a href="{{ content.content_file.url }}">{{ content.content_file }}</a></td>
										</tr>
									{% endfor %}
						  			</tbody>
								</table>
					  		</div>
						</div>
				  	</div>
				</div>
			</div>


		</div>
	</div>

	{% endblock %}