	{% extends 'base.html' %}
	{% block title %}{{ course.course_name }}{% endblock %}
	{% load static %}
	{% block body %}

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="card card-chart">
						<div class="card-header card-header-primary">
							<h4 class="card-title">{{ course.course_name }}</h4>
							<p class="card-category">Course Details</p>
						</div>
						<div class="card-body">
							<div>
								<img class="card-img-bottom" src="{{ course.image.url }}" alt="Card image" style="width:100%">
							</div><br>
							<div class="row">
								<div class="col-md-6">
									<b>Category : </b>{{ course.category }}
								</div>
								<div class="col-md-6">
									<b>Duration : </b>{{ course.duration }} Months
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<b>Enrolled Students : </b>{{ course.no_of_students }}
								</div>
								<div class="col-md-6">
									<b>Max Students Allowed : </b>{{ course.max_no_of_students }}
								</div>
							</div><br>
							<div class="row">
								<div class="col-md-12">
									<b>Course Description</b>
									<p>{{ course.course_description }}</p>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="stats">
								<a href="{% url 'student:cancelEnrollment' course.course_id %}" class="btn btn-primary"">Cancel Enrollment</a>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-warning">
							<h4 class="card-title">Previous Classroom Sessions</h4>
							<p class="card-category">Classrom Session Details</p>
						</div>
						<div class="card-body table-responsive">
							<table class="table table-hover">
								<thead class="text-warning">
									<th>ID</th>
									<th>Date and Time</th>
									<th>Session name</th>
									<th>Duration</th>
									<th>Recording</th>
								</thead>
								<tbody>
									{% for session in classroom_sessions %}
									<tr>
									<td>{{ session.session_id }}</td>
									<td>{{ session.timestamp }}</td>
									<td>{{ session.session_name }}</td>
									<td>{{ session.duration }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
				  	</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-success">
							<h4 class="card-title">Shared Content</h4>
							<p class="card-category">Content Details</p>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class="text-primary">
										<th>Date and Time</th>
										<th>Content Name</th>
										<th>Content File</th>
						  			</thead>
									<tbody>
									{% for content in contents %}
										<tr>
											<td>{{ content.timestamp }}</td>
											<td>{{ content.content_name }}</td>
										  	<td><a href="{{ content.content_file.url }}">{{ content.content_file }}</a></td>
											<td><a href="{{ content.content_file.url }}" download><button class="btn btn-danger btn-sm"><i class="material-icons">get_app</i></button></a></td>
										</tr>
									{% endfor %}
						  			</tbody>
								</table>
					  		</div>
						</div>
				  	</div>
				</div>
			</div>

		</div>
	</div>

	{% endblock %}