{% extends 'base.html' %}
{% block title %}Student Portal{% endblock %}
{% load static %}
{% block body %}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-warning card-header-icon">
						<div class="card-icon">
							<i class="material-icons">assignment</i>
						</div>
						<p class="card-category">Total Courses</p><br>
						<h3 class="card-title">{{ totalCourses }}</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-success card-header-icon">
						<div class="card-icon">
							<i class="material-icons">assignment_ind</i>
						</div>
						<p class="card-category">Enrolled Students</p>
						<h3 class="card-title">{{ totalStudents }}</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-danger card-header-icon">
						<div class="card-icon">
							<i class="material-icons">assessment</i>
						</div>
						<p class="card-category">Classroom Sessions</p>
						<h3 class="card-title">{{ totalSessions }}</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-info card-header-icon">
						<div class="card-icon">
							<i class="material-icons">perm_identity</i>
						</div>
						<p class="card-category">Total Trainers</p><br>
						<h3 class="card-title">{{ totalTrainers }}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Courses -->
	<div class="row">
		{% for course in courses %}
		<div class="col-md-4">
			<div class="card card-chart">
				<div class="card-header card-header-success">
					<div>
						<img class="card-img-bottom" src="{{ course.image.url }}" alt="Card image" style="width:100%">
					</div>
				</div>
				<div class="card-body">
					<h4 class="card-title">{{ course.course_name }}</h4>
					<p class="card-category">{{ course.category }}</p>
					<h5>Trainer: {{ course.trainer }}</h5>
				</div>
				<div class="card-footer">
					<div class="stats">
						<a href="{% url 'student:courseInfo' course.course_id %}" class="btn btn-primary">Show details</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

</div>
</div>
{% endblock %}

